/* body { */
/*   max-width: 70ch; */
/*   padding: 6ch; */
/*   margin: auto; */
/* } */

body {
  display: grid;
  grid-template-columns:
    [viewport-start] minmax(1ch, 1fr)
    [container-start] minmax(0, 7fr) [container-end]
    minmax(1ch, 1fr) [viewport-end];
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 4px 4px 10px red;
}
.container {
  grid-column: container;
}

.z-text {
  transform: rotateX(30deg) rotateY(-20deg);
  transition: transform 3s;
}

[data-z]:hover .z-text {
  transform: rotateX(-30deg) rotateY(30deg)
}
