<footer>
  <hr />
  <p>
    Built with 💖 by <a href="/self/">SentozLin.</a>
    <a href="http://rhrpmc5sd2fjtr3fb5gj6uowbtk4qxva6byaclhaedfiatrwbfj7xyid.onion/">
    🧅
    </a>
    <br />
    <small>
        Copyright&nbsp;&copy;&nbsp;2017-{% now 'Y' %} <i>948794Crazy</i>
    </small>
    .&nbsp;&nbsp;All rights reserved.
    <br>
  </p>
</footer>
