{% load flatpages %} {% get_flatpages as flatpages %}
<nav>
  <div>
    <div>
      <h1 data-z data-z-layers="1" data-z-depth="0.7em">
        <a href="/"><i>948794Crazy‼️‼️‼️</i></a>
        <br />
      </h1>
      <div class="header">
        {% for page in flatpages %}
        <a href="{{ page.url }}">
          {% if page.title == "Self" %}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#eb99a1"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="12" cy="12" r="10" />
            <line x1="12" y1="16" x2="12" y2="12" />
            <line x1="12" y1="8" x2="12" y2="8" />
          </svg>
          {% endif %} {{ page.title }}
        </a>
        {% endfor %}
        <a href="{% url 'privacy_thinking:posts' %}">隱。思</a>
      </div>
      <hr />
    </div>
  </div>
</nav>
