{% extends "base.html" %}
{% block content %}
{% for post in posts%}
<h2>
  <a href="{{post.get_absolute_url}}">
    {{post.title}}
  </a>
</h2>
{% if not forloop.last %}
<hr />
{% endif %}
{% endfor %}
{% endblock content %}
