{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block title %}
| {{post.title}}
{% endblock title %}

{% block content %}
<h4>
  {{post.title}}
</h4>
<span>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#d9d8dc"
    stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
    <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
    <line x1="16" y1="2" x2="16" y2="6" />
    <line x1="8" y1="2" x2="8" y2="6" />
    <line x1="3" y1="10" x2="21" y2="10" />
  </svg>
  {{post.pub_datetime|date:'r'}}
</span>

<span>
  <a href="/self/">
    &nbsp &nbsp
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#eb99a1"
      stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
      <path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34" />
      <polygon points="18 2 22 6 12 16 8 16 8 12 18 2" />
    </svg>
    {{post.author}}
  </a>
</span>
<hr>
{{post.content|markdown}}

{% endblock content %}
