{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>
      948794Crazy‼️‼️‼️ {% block title %} {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" 
          href="{% static "icodewhatithink/css/sakura-vader.css"%}"
          type="text/css">
    <link rel="stylesheet" 
          href="{% static "icodewhatithink/css/custom.css"%}"
          type="text/css" 
          media="screen"
          title="no title"
          charset="utf-8">
    <link rel="stylesheet" 
          href="{% static "header.css"%}"
          type="text/css" 
          media="screen"
          title="no title"
          charset="utf-8">
    <script
      defer
      src="{% static 'icodewhatithink/3rd_party_js/ztext.min.js' %}"
    ></script>
  </head>

  <body>
    <div class="container">
      {% include 'partials/header.html' %}
      <main>
        {% include 'partials/messages.html' %}
        {% block content %} {% endblock %}
      </main>
      {% include 'partials/footer.html' %}
    </div>

    {% block extend_footer %} {% endblock extend_footer %}
  </body>
</html>
